.about-bg-img {
	background: url("https://wallpaperaccess.com/full/2825704.gif");
	background-attachment: fixed;
	opacity: 0.75;
}
.about-texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	padding: 40px 0;
}
.about-texts h1 {
	font-size: 50px;
}
.about-texts h2 {
	font-size: 40px;
}
