@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap");

body {
	font-family: "Poppins", sans-serif;
	display: flex;
	box-sizing: border-box;
	background-color: #121212;
	color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
	justify-content: center;
	align-items: center;
}
